<div class="card mb-4"
     style="background: #142b47;
            font-size: 18px;
            color: #f2f2f2;
            font-family: sans-serif;
            letter-spacing:0.5px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;">
    <div class="card-header">
        <p style="font-size: 25px;"> {{ flight.name }} </p>
    </div>
    <div class="card-body"
         style="background: #fefafa;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;">
        <div class="text-muted">
            From: <a href="{{ flight.route.airportFrom.city.get_absolute_url }}">{{ flight.route.airportFrom.city.name }}</a>
        </div>
        <div class="text-muted">
            To: <a href="{{ flight.route.airportTo.city.get_absolute_url }}"> {{ flight.route.airportTo.city.name }} </a>
        </div>
        <div class="text-muted">
            Departure date time: {{ flight.departureDateTime }}
        </div>
        <div class="text-muted">
            Price: {{ flight.price }}
        </div>


        <a href="{{ flight.get_absolute_url }}"
           class="btn btn-light"
           style="font-size: 18px;
                  background: #f6d2d6;
                  font-family: sans-serif;
                  letter-spacing:0.5px;">Read</a>
    </div>
</div>