<div class="card mb-4">
    <div class="card-header">
        <h5> Route: {{ route.id }} </h5>
    </div>
    <div class="card-body">
        <div class="text-muted">
            From: <a href="{{ route.airportFrom.city.get_absolute_url }}">{{ route.airportFrom.city.name }}</a>
        </div>
        <div class="text-muted">
            To: <a href="{{ route.airportFrom.city.get_absolute_url }}"> {{ route.airportTo.city.name }} </a>
        </div>

        <a href="{{ route.get_absolute_url }}" class="btn btn-light">Read</a>
    </div>
</div>