<div class="card mb-4"
     style="background: #142b47;
            font-size: 18px;
            color: #f2f2f2;
            font-family: sans-serif;
            letter-spacing:0.5px;">
    <div class="card-header">
        <p style="font-size: 25px;"> Route: {{ route.name }} </p>
    </div>
    <div class="card-body" style="background: #fefafa;">
        <div class="text-muted">
            From: <a href="{{ route.airportFrom.city.get_absolute_url }}">{{ route.airportFrom.city.name }}</a>
        </div>
        <div class="text-muted">
            To: <a href="{{ route.airportFrom.city.get_absolute_url }}"> {{ route.airportTo.city.name }} </a>
        </div>

        <a href="{{ route.get_absolute_url }}"
           class="btn btn-light"
           style="font-size: 18px;
                  background: #f6d2d6;
                  font-family: sans-serif;
                  letter-spacing:0.5px;">Read</a>
    </div>
</div>