{% extends 'airtickets/base_airtickets.html' %}

{% block title %}
    Delete Airline "{{ airline.title|title }}" - {{ block.super }}
{% endblock %}

{% block content %}

    <form action="{{ airline.get_delete_url }}" method="post">
        {% csrf_token %}

        <h3> Are you sure you want to delete <b>"{{ airline.name|title }}"</b> airline? </h3>
        <a href="{{ airline.get_absolute_url }}">Cancel</a>
        <button type="submit" name="button" class="btn btn-danger">Delete</button>

    </form>


{% endblock %}