{% extends 'airtickets/base_airtickets.html' %}

{% block title %}
    Airlines title
{% endblock %}

{% block content %}
    <a href="{% url 'export_airlines_url' %}" class="btn btn-primary" style="background: #274b69"> Export </a>
    <a href="{% url 'import_airlines_url' %}" class="btn btn-primary" style="background: #274b69"> Import </a>

    <h1 class="mb-5">Airlines:</h1>
    {% for airline in airlines %}
        {% include 'airtickets/includes/airline_card_template.html' %}
    {% endfor %}
{% endblock %}