{% extends 'airtickets/base_airtickets.html' %}

{% block title %}
    Delete Airport "{{ airport.name|title }}" - {{ block.super }}
{% endblock %}

{% block content %}

    <form action="{{ airport.get_delete_url }}" method="post">
        {% csrf_token %}

        <h3> Are you sure you want to delete <b>"{{ airport.name|title }}"</b> airport? </h3>
        <a href="{{ airport.get_absolute_url }}">Cancel</a>
        <button type="submit" name="button" class="btn btn-danger">Delete</button>

    </form>


{% endblock %}