{% extends 'airtickets/base_airtickets.html' %}

{% block title %}
    Delete City "{{ city.name|title }}" - {{ block.super }}
{% endblock %}

{% block content %}

    <form action="{{ city.get_delete_url }}" method="post">
        {% csrf_token %}

        <h3> Are you sure you want to delete <b>"{{ city.name|title }}"</b> city? </h3>
        <a href="{{ city.get_absolute_url }}">Cancel</a>
        <button type="submit" name="button" class="btn btn-danger">Delete</button>

    </form>


{% endblock %}