{% extends 'airtickets/base_airtickets.html' %}

{% block title %}
    Register - {{ block.super }}
{% endblock %}

{% block content %}

    <form class="" action="{% url 'register_url' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" name="button" class="btn btn-primary" style="background: #142b47;">Register</button>



    </form>

{% endblock %}